.app-body > header {
  margin-top: 25px;
  display: flex;
  height: 60px;
  justify-content: space-between;
}

.login-signup {
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 160px;
}

.login-button {
  height: 30px;
  width: 80px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  background-color:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}

.signup-button {
  background-color: rgb(34,123,152);
  color: white;
  height: 30px;
  width: 80px;
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 5px;
}

.changetosearch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: image-url('header.jpg');
  background-repeat: no-repeat;  
  background-position: center top;
  background-size: cover;
}

.changetosearch {
  color: white;
  font-family: sans-serif;
  font-size: 40px;
}

