.app-body > header {
  margin-top: 28px;
  display: flex;
  height: 55px;
  justify-content: space-between;
}

.app-body header > h1 {
  margin: 15px 0 0 20px;
  text-align: center;
}

#dropdown {
  margin: 10px;
  display: inline-block;
  color: rgb(163,163,163);
}

#dropdown:hover {
  cursor: pointer;
}

.login-button {
  height: 30px;
  width: 80px; 
  font-size: 16px;
  background-color:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  outline: none;
  color: rgb(75, 75, 75);
  transition-duration: 200ms;
}

.login-button:hover {
  color: black;
}

.login-signup {
  display: flex;
  align-items: center;
  margin-right: 17px;
  width: 172px;
}

.login-signup > *:hover {
  cursor: pointer;
}

.header-greeting {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 25px;
}

.header-name {
  font-weight: 450;
}

.header-name:hover {
  cursor: pointer;
}

.signup-button {
  background-color: rgb(34,123,152);
  color: white;
  height: 32px;
  width: 77px;
  text-decoration: none;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  outline: none;
  transition-duration: 350ms;
  cursor: pointer;
}

.signup-button:hover {
  background-color: rgb(26, 100, 124);
}