.app-body {
  background-color: white;
  max-width: 1600px;
  margin: auto;
}

#chevron-right, #chevron-left {
  font-size:12px;
}

.home-body {
  width: 1220px;
  margin: auto;
}

html {
  background-color: whitesmoke;
  min-height: 100%;
}

.hidden {
  display: none;
}

.input-error > input {
  border: 1px solid rgb(189, 36, 46);
}

.input-error-message {
  font-size: 14px;
  color: rgb(189, 36, 46);;
  padding: 6px;
}

.input-read-only {
  background-color: whitesmoke;
}

.input-field {
  display: flex;
  flex-direction: column;
}
