.app-body {
  background-color: white;
  max-width: 1600px;
  margin: auto;
}

#chevron-right, #chevron-left {
  font-size:12px;
}

.custom-arrow {
  border: 2px solid black;
  border-width: 2px;
  border-color: rgba(0,0,0,0.2);
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
}

.custom-arrow:hover {
  border-color: red;
  border-width: 2px;
}

html {
  background-color: whitesmoke;
  min-height: 100%;
}

.hidden {
  display: none;
}

.input-error > input {
  border: 1px solid rgb(189, 36, 46);
}

.input-error-message {
  font-size: 14px;
  color: rgb(189, 36, 46);;
  padding: 6px;
}

.input-read-only {
  background-color: whitesmoke;
}

.input-field {
  display: flex;
  flex-direction: column;
}
