.demo-login {
  padding: 16px;
  margin: 8px 0;
  border: none;
  border: 1px solid lightgray;
  border-radius: 3px;
  width: 390px;
  font-size: 14px;
  font-weight: 400;
  outline: none;
}

.demo-login:hover {
  margin: 7px 0;
  width: 390px;
  border: 2px solid rgb(218,55,67);
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}  

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 390px;
  padding: 35px;
  background-color: white;
}  

.modal-child h2 {
  margin: 15px 0;
  padding: 8px 0; 
  font-weight: 500;
  font-size: 22px;
}  

.modal-child p {
  padding: 5px 0;
  margin: 20px 0;
  font-size: 16px;
}  

.modal-child ul {
  margin: 10px 0;
}  

.modal-input {
  padding: 16px;
  margin: 8px 0;
  border: none;
  border: 1px solid lightgray;
  border-radius: 3px;
  width: 356px;
  font-size: 13px;
}  

.signup-form-container span {
  margin-top: 15px;
  font-size: 14px;
  color: rgb(172,172,172);
}  

.modal-input:hover {
  border: 1px solid rgb(172,172,172);
  border-radius: 3px;  
}  

.modal-input:focus {
  border: 2px solid rgb(172,172,172);
  outline: none;
  width: 356px;
  padding: 15px;
}  

p > button {
  border: none;
  color: rgb(218,55,67);
  background-color: white;
  font-size: 16px;
  padding: unset;
  outline: none;
  cursor: pointer;
}  

p input {
  cursor: pointer;
}  

.session-submit {
  height: 55px;
  width: 390px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  background-color: rgb(218,55,67);
  border: none;
  border-radius: 3px;
  margin: 20px 0; 
  transition-duration: 350ms;
}    

.session-submit:focus {
  outline: none;
}    

.session-submit:hover {
  background-color: rgb(189, 36, 46);
  cursor: pointer;
}    

.session-submit::selection {
  outline: 2px solid gray;
}    