.header-group {
  position: relative;
}

.dropdown-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 175px;
  width: 230px;
  top: 55px;
  right: 45px;
  border: 1px solid lightgray;
  border-radius: 2px;
  background-color: white;
}

.dropdown-item {
  height: 42px;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  color: dimgray;
  text-indent: 20px;
  vertical-align: auto;
  padding-top: 13px;
}

.dropdown-item:hover {
  background-color: whitesmoke;
}

.dropdown-container:after,
.dropdown-container:before {
  position: absolute;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  bottom: -10;
  content: '';
  right: 75px;
  top: -10px;
}

.dropdown-container:before {
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid lightgray;
    border-top-color: inherit; 
    bottom: -11px;
    right: 74px;
    top: -11px;
}

.hidden {
  display: none;
}
