// .res-cancel {
//   background-color: whitesmoke;
// }
.res-cancel-body {
  height: 200px;
  max-width: 952px;
  width: auto;
  margin: 0 auto;
  border-bottom: 1px solid lightgray;
  border-radius: 4px;
  background-color: white;
}

.res-cancel-button {
  margin: 16px;
  padding: 17px 28px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  color: white;
  background-color: rgb(218,54,67);
  line-height: normal;
}

.res-cancel-button:hover {
  cursor: pointer;
  background-color: rgb(189, 36, 46);
}

.res-cancel-container {
  height: 200px;
  background-color: whitesmoke;
  padding: 35px 20px 150px;
}

.res-cancel-header {
  background-color: white;
}

.res-cancel-header h1 {
  max-width: 952px;
  font-size: 36px;
  padding: 36px 20px;
  margin: 0 auto;
}

.res-cancel-image {
  height: 60px;
  width: 60px;
  margin-top: 8px;
  border-radius: 2px;
  background-image: image-url('index1.jpg');
  background-size: cover;
}

.res-cancel-venue {
  display: flex;
  height: 68px;
  padding: 24px;
  border-bottom: 1px solid rgb(235,235,235);
}

.res-cancel-venue-desc {
  margin-top: 8px;
  margin-left: 32px;
}

.res-cancel-venue-desc > * {
  margin: 0;
}

.res-cancel-venue-desc > h5 {
  color: rgb(73,73,73);
  font-size: 14px;
  line-height: 1.5;
}

.res-cancel-venue-desc > h3 {
  font-size: 21px;
  font-weight: normal;
  line-height: 1.15;
}