.res-create-container {
  width: 976px;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.res-create-container > * {
  margin: 0 16px;
}

.res-contact-options {
  margin-top: 35px;
}

.res-contact-options > * {
  margin-top: 10px;
}

input.res-checkbox {
  text-decoration: none;
  transform: scale(1.2); 
}

.res-details {
  display: flex;
  font-size: 16px;
}

.res-details > * {
  margin-right: 32px;
}

.res-details i {
  color: #2d323f;
  font-size: 18;
}

.res-form-container {
  margin-top: 32px;
  width: 630px;
}

.res-form-container > span {
  font-size: 24px;
  font-weight: normal;
  color: #2d323f;
}

.res-input-row {
  display: flex;
  justify-content: space-between;
}

.res-img {
  height: 64px;
  width: 64px;
  margin-right: 16px;
  border-radius: 4px;
  background-image: image-url('index1.jpg');
  background-size: cover;
}

.res-message {
  margin-top: 100px;
}

.res-message > div {
  font-size: 14px;
  margin-top: 16px;
}

.res-message > p {
  font-size: 14px;
  font-weight: lighter;
}

.res-message > span {
  font-size: 16px;
}

.res-timer {
  margin-top: 20px;
  background-color: #eef8fb;
  padding: 10px 0;
  border-radius: 3px;
}

.res-left-header {
  display: flex;
  margin-top: 22px;
}

.res-input-field {
  width: 264px;
  height: 48px;
  padding-left: 20px;
  border-radius: 3px;
  outline: none;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  border: 1px solid lightgray;
  font-size: 16px;
}

.res-links {
  margin-top: 38px;
  margin-bottom: 20px;
  font-size: 16px;
}

.res-message {
  width: 288px;
  display: flex;
  flex-direction: column;
}

.res-trigger-links{
  color: #da3743;
}

.res-trigger-links:hover {
  text-decoration: underline;
  cursor: pointer;
}

.res-venue-name {
  font-size: 24px;
  font-weight: 500;
  padding-top: 2px;
  margin: 0 0 13px 0;
}

.submit-res-btn {
  margin-top: 20px;
  width: 272px;
  height: 48px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  background-color: #da3743;
  color: white;
}

.submit-res-btn:hover {
  background-color: #d6535b;
}

.timeslots {
  position: absolute;
  top: 111px;
}

.timeslots button {
  width: 98.2px;
  height: 30.38px;
  border: none;
  border-radius: 3px;
  background-color: #DA3743;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.timeslots button:hover {
  cursor: pointer;
  background-color: rgb(189, 36, 46);
}

.timeslots ul {
  display: flex;
  flex-direction: row;
}

.timeslots li {
  height: 30px;
  padding: 0 4px;
}

.timeslots li:first-child {
  padding: 0 4px 0 0;
}

.timeslots li:last-child {
  padding: 0 0 0 4px;
}