.fa-chart-line {
  color: #DA3743;
}

.filter-column {
  width: 225px;
  margin-right: 32px;
  border: 1px solid black;
}

.search-columns {
  display: flex;
  justify-content: center;
}

.search-item {
  display: flex;
}

.search-result-list {
  width: 800px;
}

.search-result-list li {
  padding: 14px 0;
  height: 205.45px;
}

.search-venue-details {
  padding-left: 19.1406px;
  height: 145.38px;
  width: 560.55px;
  position: relative;
  display: block;
}

.search-venue-details p {
  position: absolute;
  top: 60px;
  font-size: 14px;
  font-weight: lighter;
}

.times-booked {
  position: absolute;
  top: 83px;
  font-size: 14px;
  
}

.venue-name {
  position: absolute;
  margin: 8px 0 2px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #247F9E;
}

.venue-search-image {
  height: 205.45px;
  width: 205.45px;
  border-radius: 3px;
  background-image: image-url('index1.jpg');
  background-size: cover;
}