.search-splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 416px;
  background-image: image-url('home-search.jpg');
  background-repeat: no-repeat;  
  background-position: center top;
  background-size: cover;
}

.search-splash p {
  color: white;
  font-size: 48px;
  padding: 24px;
}


.search-splash form {
  display: flex;
}

.reservation-options {
  display: flex;
}

.reservation-options > * {
  position: relative;
  display: block;
  height: fit-content;
  width: fit-content;
  background-color: white;
}

.reservation-options > label > i:first-child {
  top: 15px;
  left: 14px;
}

.reservation-options i {
  position: absolute;
  z-index: 1;
}

.reservation-date {
  border-radius: 3px 0 0 3px;
}

.reservation-date:hover {
  cursor: pointer;
}

#dropdown {
  top: 38%;
  right: 18px;
  font-size: 10px;
  color: black;
  margin: 0;
}

.reservation-party {
  border-radius: 0 3px 3px 0;
}

.datepicker {
  width: 100px;
  padding: 15px 50px 14px 42px;
  border: none;
  border-radius: 3px 0 0 3px;
  text-align: center;
  font-size: 16px;
}

.datepicker:hover {
  cursor: pointer;
}

.datepicker:focus {
  outline: none;
}

.custom-select select {
  position: relative;
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 15px 50px 15px 42px;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 1;
  outline: none;
}

.reservation-time {
  border-left: 1px solid rgb(224,224,224);
  border-right: 1px solid rgb(224,224,224);
}

.search-submit {
  width: 146px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: rgb(218,55,67);
  border: none;
  border-radius: 3px;
}

.search-submit:hover {
  cursor: pointer;
  background-color: rgb(189, 36, 46);
}

.search-field {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: white;
  margin: 0 16px;
  border-radius: 3px;
  width: 290px;
}

.search-field i {
  margin: 0 10px;
}

.search-input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}