.hidden-price {
  display: none;
}

input[type=checkbox] {
    display: none;
}

.filter-category {
  padding: 25px 0 25px 0;
  border-bottom: 1px solid lightgray;
}

.filter-column {
  width: 225px;
  margin-top: 14px;
  margin-right: 32px;
}

$tab-border-width: 1px;
.filter-custom-button {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 73px;
  padding: 13px 0;
  margin-top: 10px;
  margin-right: 0-$tab-border-width;
  border: $tab-border-width solid lightgray;
  border-radius: 2px;
  color: #434953;
}

.filter-custom-button:hover {
  width: 71px;
  padding: 12px 0;
  background-color: whitesmoke;
  border: 2px solid blue;
  border-radius: 2px;
}

.filter-custom-button:hover + .hidden-price {
  position: absolute;
  display: block;
  text-align: center;
  width: 114px;
  padding: 16px;
  margin-top: 10px;
  color: white;
  background-color: black;
  border-radius: 3px;
}

.filter-custom-checkbox {
  height: 13px;
  width: 13px;
  top: 6px;
  margin: 3px 6px 3px 1px;
  border: 2px solid #2d343f;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.filter-header {
  padding-bottom:4px;
  font-size: 16px;
}

.filter-input {
  position: relative;
  font-weight: lighter;
}

.filter-input span:after {
    opacity: 1;
    content: '';
    position: absolute;
    width: 6px;
    height: 3px;
    background: transparent;
    top:3px;
    left: 3px;
    border: 2px solid white;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
}

.filter-input:hover {
  text-decoration: underline;
}

.filter-input input:checked + span{
  border: 2px solid rgb(218,54,67);
  background-color: rgb(218,54,67);
}

.filter-input-button {
  position: relative;
  font-weight: lighter;  
}

.filter-input-button input:checked + span {
  color: white;
  background-color: rgb(45,52,63);
}

.filter-icon {
  font-size: 16px;
  padding-right: 8px;
}

.filter-price {
  padding: 4px 0 0 0;
}

.search-columns {
  display: flex;
  justify-content: center;
}

.search-item {
  display: flex;
}

.search-result-list {
  width: 800px;
  margin-top: 14px;
}

.search-result-list > li {
  padding: 14px 0 26px 0;
  height: 205.45px;
  border-bottom: 1px solid lightgray;
}

.search-venue-details {
  padding: 12px 0 0 18px;
  height: 145px;
  width: 560px;
  display: block;
}

.search-venue-details p {
  font-size: 14px;
  font-weight: lighter;
}

.search-venue-details > * {
  padding: 5px 0;
}

.times-booked {
  font-size: 14px;
}

.timeslots button {
  width: 98.2px;
  height: 30.38px;
  border: none;
  border-radius: 3px;
  background-color: #DA3743;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.timeslots button:hover {
  cursor: pointer;
  background-color: rgb(189, 36, 46);
}

.timeslots ul {
  display: flex;
  flex-direction: row;
}

.timeslots li {
  height: 30px;
  padding: 0 4px;
}

.timeslots li:first-child {
  padding: 0 4px 0 0;
}

.timeslots li:last-child {
  padding: 0 0 0 4px;
}

.venue-name {
  margin: 8px 0 2px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #247F9E;
}

.venue-rating {
  height: 16px;
  width: 10px;
}

.venue-search-image {
  height: 205.45px;
  width: 205.45px;
  border-radius: 3px;
  background-image: image-url('index1.jpg');
  background-size: cover;
}