.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 73px;
  background-image: image-url('index-searchbar.jpg');
  background-repeat: no-repeat;  
  background-position: center top;
  background-size: cover;
}

.search-bar > form {
  display: flex;
}
