.profile-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: whitesmoke;
}

.profile-details {
  display: flex;
  position: relative;
  justify-content: center;
  margin-right: 30px;
  width: 100%;
  max-width: 1225px;
}

.upcoming-res, .past-res {
  margin: 30px 0;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.review-link {
  text-decoration: none;
  font-size: 14px;
  color: rgb(218,54,67);
}

.review-link-container {
  margin-top: 5px;
}

.profile-item-container {
  display: flex;
  width: 100%;
  min-height: 175px;
  border-top: 1px solid rgb(235,235,235);
}

.profile-item-content {
  padding: 20px 16px;
  width: 800px;
}

.profile-item-date {
  padding: 5px 0;
}

.profile-item-desc > * {
  padding: 5px 0;
  font-size: 14px;
  color: rgb(102,102,102);
}

.profile-item-image {
  margin: 16px 0 0 20px;
  height: 80px;
  width: 80px;
  background-image: image-url('index1.jpg');
  background-size: cover;
  border-radius: 4px;
}

.profile-item-name {
  padding: 5px 0;
}

.profile-content {
  max-width: 1050px;
  padding: 1px 0;
}

.profile-content h1 {
  margin: 0;
  padding: 24px;
  font-weight: normal;
}

.profile-res-link {
  color: rgb(51,130,158);
  text-decoration: none;
  margin-right: 10px;
}

.profile-navbar {
  position: sticky;
  top: 4.1vh;
  margin-top: 35px;
  width: 200px;
  height: max-content;
}

.profile-navbar-item {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: whitesmoke;
  font-size: 16px;
}

.profile-navbar-item:hover {
  color: #DA3743;
}

.user-profile-name {
  margin-left: 198px;
  font-weight: normal;
}

.user-update-container {
  margin: 30px 0;
  background-color: white;
}

.user-update-form {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.user-update-input {
  display: block;
  padding: 16px;
  margin: 8px 0;
  border: none;
  border: 1px solid lightgray;
  border-radius: 3px;
  font-size: 15px;
}

.user-update-input:hover {
  border: 1px solid rgb(172,172,172);
  border-radius: 3px;  
}  

.user-update-name {
  display: flex;
}

.user-update-name > div:first-child {
  margin-right: 9px;
}

.update-submit {
  margin-top: 40px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: rgb(218,55,67);
  border: none;
  border-radius: 3px;
}

.update-input-container {
  margin-top: 14px;
  width: 383px;
}

.user-update-input.update-input-error:hover {
  border: 1px solid rgb(189, 36, 46);
  outline: none;
}

.update-input-error {
  background-color: #fcedef;
  border: 1px solid rgb(189, 36, 46);
  outline: none;
}

.input-short {
  width: 349px;
}

.input-long {
  width: 742px;
}